server {
    listen 8080;
    listen [::]:8080;

    server_name _;

    root /usr/share/nginx/html;
    index index.html;

    location = /index.html {
        internal;
    }

    location / {
        if ($host != localhost) {
            return 404;
        }

        try_files /index.html =404;
    }

    error_page 404 =404 /index.html;
}
