name: 'Docker PHP Publish'

on:
  schedule:
    - cron: '0 2 * * *'
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: push-to-registry-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  push_to_registry:
    name: Build image
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        container:
          - php81
          - php82
          - php83
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Cache Docker layers
        id: docker-cache
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ matrix.container }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ matrix.container }}-buildx-
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
      - name: Set dockerfile path
        id: dockerfile
        run: |
          NAME="${{ matrix.container }}"
          DOCKERFILE=$([[ -f ".docker/$NAME/Dockerfile" ]] && echo ".docker/$NAME/Dockerfile" || echo ".docker/Dockerfile.$NAME")
          echo "DOCKERFILE=$DOCKERFILE" >> $GITHUB_OUTPUT
      - name: Build container image
        uses: docker/build-push-action@v6
        with:
          push: false
          context: .docker/
          platforms: linux/amd64,linux/arm64
          file: ${{ steps.dockerfile.outputs.DOCKERFILE }}
          tags: |
            ghcr.io/librecodecoop/nextcloud-dev-${{ matrix.container }}:${{ github.sha }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new
      - name: Push container image
        uses: docker/build-push-action@v6
        if: github.ref == 'refs/heads/main'
        with:
          push: true
          context: .docker/
          platforms: linux/amd64,linux/arm64
          file: ${{ steps.dockerfile.outputs.DOCKERFILE }}
          tags: |
            ghcr.io/librecodecoop/nextcloud-dev-${{ matrix.container }}:${{ github.sha }}
            ghcr.io/librecodecoop/nextcloud-dev-${{ matrix.container }}:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
      - name: Save Docker cache
        if: steps.docker-cache.outputs.cache-hit != 'true'
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ matrix.container }}-buildx-${{ github.sha }}
