on:
  pull_request:
  push:
    branches:
      - main

name: 'Shellcheck'

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@master
      with:
        scandir: .docker/
